.input-text{
    width: 10rem;
    padding: 0.5rem; 
}
.input-container-error{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-text-error{
    width: 10rem;
    padding: 0.5rem;     
}
.input-text-error:focus{
    outline: none;
    border: 1px solid red;
}
.error-icon{
    margin: 1rem 0;
    color: red;
}
